body {
  margin: 0;
  padding: 0;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Roboto Mono", monospace;
}

main {
  background-image: linear-gradient(#546eb9 0%, #54ceae 100%);
  /* background-color: lightblue; */
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.debug-border {
  border: 1px solid black;
}

.app-title {
  background-color: rgb(0, 25, 251);
  color: #fff;
  padding: 0 10px;
  font-size: 2.5em;
}

.current-weather-card {
  width: 80vw;
  height: 80vh;
  /* border-radius: 15px; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow: lightcyan;
  padding: 10px 0;
  color: white;
  background: rgba(0, 0, 0, 0.1);
}

.weather-form {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 85%;
  /* border: 1px black solid; */
}

.weather-form h2 {
  margin: 0;
  font-size: 1em;
}

.weather-form input {
  font-size: 1.2em;
  border: none;
  padding: 5px;
  /* background-color: #f7f7f7; */
  background-color: transparent;
  border-bottom: 1px white solid;
  color: #fff;
}

::placeholder {
  color: #fff;
}

.weather-form button {
  font-size: 1.5em;
  border: none;
  background-color: #546eb9;
  padding: 3px 0;
  /* border-radius: 10px; */
  color: #fff;
}

.weather-result-container {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* border: 1px black solid; */
}

.weather-result-image-container {
  width: 100%;
  height: 40%;
  /* background-image: url(http://openweathermap.org/img/wn/10d@2x.png); */
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  /* border: tomato 1px solid; */
}

.weather-result-text {
  width: 95%;
  height: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.weather-result-text p {
  margin: 4px 0;
  font-size: 1.2em;
}

.weather-result-text h3 {
  margin: 5px 0 15px 0;
  text-align: center;
}

.weather-placeholder {
}

.weather-info-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.weather-info {
}

.weather-header-one {
  margin: 3px 0;
}

.weather-header-two {
  margin: 0;
  font-size: 1.5em;
}

#content {
  overflow: hidden;
  max-height: 1.5em;
  text-overflow: ellipsis;
}

@media (min-width: 767px) {
  .weather-form {
    height: 85%;
    width: 45%;
    margin: auto 0;
    text-align: center;
  }

  .weather-result-container {
    height: 100%;
    width: 45%;
  }

  .current-weather-card {
    height: 50vh;
  }

  main {
    justify-content: center;
  }

  .app-title {
    font-size: 3em;
  }
}

@media (min-width: 1023px) {
  .current-weather-card {
    max-width: 900px;
  }

  .weather-form h2 {
    font-size: 1.3em;
  }

  .weather-form input {
    font-size: 1.5em;
  }

  .weather-form button {
    font-size: 1.5em;
  }
}
